* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
   html {
    height: 100%;
}

html,
body {
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; 
    background-color: #cccccc;
    padding:  0 30px;
}

a {
    display: flex; 
    color: #111; 
}
a:hover{
    text-decoration: none; 
}
a:active{
    text-decoration: none; 
    color: #0073aa;
}
header {
    padding: 2em 2em 2em 0;
    font-size: 25px;
}
p{
    padding: 5px;
}

.text {
    width: auto;
    background-color: #ffffff;
    padding: 25px 15px;
    text-align: justify;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.Challenge_me_code{
    position: relative;
    z-index: 3;
    background-color: #212121;
    display: flex;
    padding:0 0 0 10px;
    width: auto;
    color: #ffff00;
    border-left:5px solid #ffff00;
   
}


.Challenge_me_sourse{
    margin: 0 0 50px 0;
}
.Challenge_me_articles_title{
    justify-content: center;
    font-size: 125%;
    margin-top: 10px;
}
.Challenge_me_articles{
    width: 45%;
    align-items: center;
    justify-content: center;
    padding:10px;
    background-color: #e5e5e5;
    position: relative;
    margin: 0 0 80px 0;
}
.Challenge_me_articles_useful{
    padding: 5px 13px 13px 13px;
    background-color: #e5e5e5;
    position: absolute;
    width:25%;
    right:0;
    top:-30px;
    text-align: center;

}
.Challenge_me_articles_autor{
    text-align: right;
}
.Challenge_me_other_articles{
    z-index: 5;
    width: 45%;
    padding:25px;
    background-color: #e5e5e5;
    position: relative;
    margin-bottom: 50px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}